{% extends "base.html" %}
{% load humanize %}

{% block title %}One Account{% endblock %}

{% block content %}

<h2>Portfolio: Account</h2>
<hr>

<h3>{{ account.name }}</h3>

<ul>
  <li><a href="deposit">Deposit Cash</a></li>
  {% if account.cash.shares > 0 %}
  <li><a href="buy">Buy Security</a></li>
  <li><a href="interest">Receive Interest Payment</a></li>
  {% endif %}
</ul>


<table>
  <tr>
    <th>Security</th>
    <th>Last Price</th>
    <th>Shares</th>
    <th>Cost Basis</th>
    <th>Mkt Value</th>
    <th>Gain</th>
    <th>Dividends</th>
    <th>Overall return</th>
  </tr>
{% for security,data in account.positions.items %}
  {% if security != '$CASH' %}
  <tr>
    <td>{{ security }}</td>
    <td>{{ data.price|floatformat:2 }}</td>
    <td>{{ data.shares|floatformat:2 }}</td>
    <td>{{ data.basis|floatformat:2|intcomma }}</td>
    <td>{{ data.mktval|floatformat:2|intcomma }}</td>
    <td>{{ data.gain|floatformat:2|intcomma }}</td>
    <td>{{ data.dividends|floatformat:2|intcomma }}</td>
    <td>{{ data.total_return|floatformat:2 }} %</td>
  </tr>
  {% endif %}
{% endfor %}
  <tr>
    <th>Cash:</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>{{ account.cash.basis|floatformat:2|intcomma }}</td>
    <td>{{ account.cash.mktval|floatformat:2|intcomma }}</td>
    <td>{{ account.cash.gain|floatformat:2|intcomma }}</td>
    <td>&nbsp;</td>
    <td>{{ account.cash.total_return|floatformat:2|intcomma }} %</td>
  </tr>
  <tr>
    <th>Total:</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>{{ account.basis|floatformat:2|intcomma }}</td>
    <td>{{ account.value|floatformat:2|intcomma }}</td>
    <td>{{ account.gain|floatformat:2|intcomma }}</td>
    <td>{{ account.dividends|floatformat:2|intcomma }}</td>
    <td>{{ account.total_return|floatformat:2|intcomma }} %</td>
  </tr>
</table>

{% endblock %}
